<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div id="app">
  <ul>
    <li v-for="(ingredient, index) in ingredients">{{ingredient}} - {{index + 1}} </li>
  </ul>
  <hr>
  <ul>
    <li v-for="person in people">
      <div v-for="(value, key, index) in person"> {{key}}: {{value}} - {{index}}</div> 
      <!-- value and key are defined by dev (they can be whatever), however they need to be in this order -->
    </li>
  </ul>
  <hr>
  <template v-for="(ingredient, index) in ingredients">
    <h1> {{ingredient}} </h1>
    <p> {{index + 1}} </p>
  </template>
</div>
<!-- Put this in the HTML section in JSFiddle! -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>



